custom_reports
proxy_reports
attendance_slips
Temp
holdings
proxy_notices
abridged_reports
excel/Classes
user_proxy_forms
voting_template
user_proxy_slips
nsdl_votes
wp-content
cgs
research
PDFMerger
Excelclasses
dompdf
config.php
assets/*
!assets/js
!assets/css
*.doc*
*.xls*
xmlrpc.php
*.sql