custom_reports
proxy_reports
Temp
proxy_notices
abridged_reports
excel/Classes
user_proxy_forms
voting_template
user_proxy_slips
wp-content
cgs
research
PDFMerger
Excelclasses
dompdf
config.php
assets/*
!assets/js
!assets/css
*.doc*
*.xls*
xmlrpc.php